#myface {
  border-radius:75%;
  margin-right:10px;
}
#headertop {
  width:auto;
  height:10px;
  background-color:#00796B;
}
.navbar-default .navbar-nav > li > a {
  color: #B2DFDB;
}
.navbar-default {
  color:#B2DFDB;
  background-color:#009688;
  border:0px;
  border-radius:0px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #80CBC4;
  background-color: #00695C;
}
.navbar-default .navbar-nav > .active > a {
  color: #FFFFFF;
  background-color: #FF9800;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFD180;
  background-color: #FF6D00;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand {
  color: #FFFFFF;
  font-family: 'Six Caps', sans-serif;
  font-size: 40px;
}
#slideshow {
  margin: 50px auto;
  position: relative;
  width: 1350px;
  height: 650px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index:1;
}
.caption_title {
  color: #009688;
  position:absolute;
  left: 700px;
  top: 475px;
  z-index:2;
}
.caption {
  position:absolute;
  left: 700px;
  top: 530px;
  z-index:2;
}
canvas {
  margin: 50px auto;
  position: relative;
  left: 40%;
  width: 400px;
  height: 400px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
